<div>
	<style type="text/css">
		.saturnpass-password {
			background: none;
			border: none;
			color: transparent;
			text-shadow: 0 0 0 #000;
			width: 200px;
		}
	</style>
    <h2>Saturn Vaults</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="saturn-vault.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Create new Saturn Vault</span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="site"><span>Site</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="login"><span>Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="password"><span>Password</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdDate"><span>Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastModifiedDate"><span>Last Modified Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="saturnPass in vm.saturnPasses track by saturnPass.id">
                    <td>{{saturnPass.id}}</td>
                    <td>{{saturnPass.site}}</td>
                    <td>{{saturnPass.login}}</td>
                    <td>
						<div>
							<input type="password" ng-model="saturnPass.password" class="saturnpass-password" style="font-size: 1.6em; margin: -5px 0;" readonly/>
							<span ng-click="vm.toggleVisible(saturnPass.id)" style="float:right; cursor: pointer; padding: 5px 20px 0 0;" class="glyphicon glyphicon-eye-open"></span>
						</div>
					</td>
                    <td>{{saturnPass.createdDate| date:'medium'}}</td>
                    <td>{{saturnPass.lastModifiedDate| date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button ui-sref="saturn-vault.edit({id:saturnPass.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button ui-sref="saturn-vault.delete({id:saturnPass.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
